/* customed, original code by adrianhajdin
    GitHub: https://github.com/adrianhajdin/
*/

.usersList {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: white;
    height: 60%;
    justify-content: space-between;
}

.customHeading3 {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 1.17em;
    font-weight: bold;
    color: white;
    margin-top: 10%;
    margin-bottom: 1%;
}

.activeContainer {
    display: flex;
    align-items: center;
    margin-bottom: 50%;
}

.activeItem {
    display: flex;
    align-items: center;
}